@model  HousePhoto


@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="~/img/@Model.Image" />
        </div>
        <div class="col-6">
            <img src="~/img/@Model.Image" />
        </div>
    </div>
</div>
